.container {
    @apply max-w-[1000px] 2xl:max-w-[1400px];
    @apply mx-auto;
    @apply px-6 md:px-12;
}

.fadeIn {
    @apply md:animate-[fadeIn_600ms_ease-in_1];
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.box {
    @apply rounded-[2px] p-2 md:p-4;

    box-shadow:
        rgba(60, 64, 67, 0.15) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.05) 0px 1px 3px 1px;
}